nav {
  opacity: 0.95;
}

.navbar-header {
  max-width: 100px;
  margin-right: 10px;
}

.navbar-brand {
  padding: 8px;
  margin: 0 auto;
}

.navbar-brand img {
  max-width: 45px;
  margin: 0;
  padding: 0;
}

#accountButton {
  margin-top: 8px;
}

.dropdown-menu {
  min-width: 3rem;
}

.nav form {
  margin: 8px;
}

.nav form input {
  width: 300px;
}
