<section id="sidebar">
    <div class="white-label">
    </div>
    <div id="sidebar-nav">
      <ul>
        <li [routerLinkActive]="['active']"><a routerLink="/admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/"><i class="fa fa-desktop"></i> My Website</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/admin/categories"><i class="fas fa-book"></i> Categories</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/admin/brands"><i class="fas fa-star"></i> Brands</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/admin/products"><i class="fas fa-cube"></i> Products</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/admin/programs"><i class="fas fa-chalkboard-teacher"></i> Programs</a></li>
      </ul>
    </div>
    <p>Logged in as: <span style="color: #7CFC00;"><i class="fas fa-circle" style="transform: scale(0.8);"></i> Admin</span></p>
  </section>
